<app-nav></app-nav>
<div class="container-md w-50 h-50">
    <div class="card my-5" style="height: 500px;">
        <div class="card-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">show password</label>
                </div>
                <button type="submit" class="btn " style="color: aliceblue;background-color: rgb(100, 11, 11);"><strong>Log in</strong></button>
              </form>
        </div>
      </div>
  </div>


<app-footer></app-footer>