<div class="bod">
    <!-- <h2 class="text-center"><u><strong>E-Kart</strong></u></h2> -->
    <app-nav></app-nav>
    <div class="container">
      <div class="row">
    
        @for (item of data; track $index) {
          <div class="col-3">
    
            <div class="card mb-3 mt-5 " style="width: 15rem;height: 40rem;" >
              <img src={{item.image}} class="card-img-top h-50" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text ">{{item.description|slice : 0 : 100}}...</p>
                <a href="#" class="btn btn-primary">${{item.price}}</a>
              </div>
        </div>
      </div>
    }
    </div>
    </div>
    </div>