<app-nav></app-nav>
<div class="container-md w-50 h-50">
    <div class="card my-5" style="height: 500px;">
        <div class="card-body">
            <form>
                <div class="mb-1">
                    <label for="exampleInputUserName" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Enter a Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" placeholder="Enter your email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="mb-3">
                  <label for="exampleInputPassword1" plclass="form-label">Password</label>
                  <input type="password" placeholder="Enter your password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Show Password</label>
                </div>
                <button type="submit" class="btn " style="color: aliceblue;background-color: rgb(100, 11, 11);"><strong>Sign up</strong></button>
              </form>
        </div>
      </div>
  </div>


<app-footer></app-footer>