<nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="">
        <img src="https://images.jdmagicbox.com/comp/bhubaneshwar/b7/0674px674.x674.151005122434.q5b7/catalogue/ekart-logistics-customer-care--bhubaneshwar-transporters-dkxwrsayfx.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"><b>
          Bootstrap
        </b>
      </a>
      <!-- <span class="navbar-brand mb-0 h1 text-light"><b>E-Kart</b></span> -->
      <nav class="nav">
        <a class="nav-link text-light" routerLink="">Home</a>
        <a class="nav-link text-light" routerLink="/Products">Product</a>
        <a class="nav-link text-light" routerLink="/Login">Login</a>
        <a class="nav-link text-light" routerLink="/Signup">Signup</a>
        <a class="nav-link text-light" routerLink="/Contacts" >Contacts</a>
      </nav>
    </div>
  </nav>
 
  